In [34]:
import pandas as pd

df = pd.read_csv('Tabla_Cliente.csv')

In [35]:
for i in df.columns:
    if df[i].dtype == 'object':
        # Replace commas with dots in string columns
        df[i] = df[i].str.replace(',', '.')
        if df[i].str.contains('.').any():
            try:
                # Convert to float if possible
                df[i] = df[i].astype(float)
            except ValueError:
                # If conversion fails, keep as string
                pass

In [36]:
df

,Customer_ID,Edad,churn_estimado,retencion_estimado,CLTV_1_anio,CLTV_2_anios,CLTV_3_anios,CLTV_4_anios,CLTV_5_anios
0,87506,45,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1961,52,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,48897,54,0.000000,1.000000,1.869159,3.623545,5.249561,6.776279,8.204850
3,34988,54,0.005901,0.994099,0.929064,1.795935,2.594635,3.340134,4.033592
4,90172,66,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
44048,22596,31,0.694768,0.305232,0.285264,0.366989,0.390109,0.396735,0.398628
44049,52759,44,0.000000,1.000000,1.869159,3.623545,5.249561,6.776279,8.204850
44050,67114,38,0.000000,1.000000,2.803738,5.435317,7.874342,10.164418,12.307275
44051,41336,29,0.798412,0.201588,0.188400,0.224047,0.230707,0.231968,0.232206
44052,2346,34,0.176010,0.823990,0.770084,1.365662,1.820504,2.172401,2.443721